@model Book_Project.Models.Page

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        body 
        {
            background: #7d4319;
        }

        .content 
        {
            max-width: 500px;
            margin: auto;
            background: gold;
            padding: 10px;
        }
    </style>
    <title>StartMenu</title>
</head>
<body>
    <div class="content"> 
        <h1>Hi!</h1>
        <h2>2nd</h2>
    </div>
</body>
</html>
