
@{
    Layout = null;
}

<!DOCTYPE html>

<audio autoplay loop>
    <source src="~/Content/Sounds/Fairy%20Fountain.mp3" type="audio/mp3" />
</audio>



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome traveller!</title>
    <link href="~/Styles/CoverSheet.css" rel="stylesheet" />


</head>

<body>
    <p><br /></p>
    <p><br /></p>

    <div width="120" height="100" style="vertical-align:middle; text-align:center">
        <img src="~/Content/Images/pixil-gif-drawing.gif" />
    </div>

    <p><br /></p>


    <a href="~/Views/MainPage/Intro.cshtml" class="button">START!</a>

    <!-- <button style="background-color:red" onclick="">START!</button> -->


</body>
</html>




