
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome traveller!</title>
    <link href="~/Styles/CoverSheet.css" rel="stylesheet" />
</head>
<body>
    <p> Welcome traveller! </p>
    <p>You have been selected to save te world from a grim fate.</p>
    <p>.</p> <p>.</p> <p>.</p> <p>.</p> <p>.</p> <p>.</p> <p>.</p> <p>.</p> <p>.</p> <p>.</p> <p>Hardcore parkour</p>
    <p>.</p> <p>.</p> <p>.</p> <p>.</p> <p>.</p> <p>.</p> <p>.</p> <p>.</p> <p>.</p> <p>.</p> <p>Hardcore parkour</p>
    <p>.</p> <p>.</p> <p>.</p> <p>.</p> <p>.</p> <p>.</p> <p>.</p> <p>.</p> <p>.</p> <p>.</p> <p>Hardcore parkour</p>
    <button onclick="window.location.href = 'https://w3docs.com';">START</button>
    <div>
    </div>
</body>
</html>
