@model ProjectLink
@{
    ViewBag.Title = "Intro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<audio autoplay>
    <source src="../../@Model.Sounds" type="audio/mpeg" />
</audio>

<p><br /></p>

<img class="center-block ImageBorder" src="../../@Model.Pictures" width="300" height="200" />

<p><br /></p>
<p><br /></p>

<div class="center-block ParaBorder">
    <p>
        @Model.Paragraphs
    </p>
</div>

<p><br /></p>
<p><br /></p>

<div>

    <hr />
    <footer>
        @Html.ActionLink($"{Model.OptionOneText}", "Intro", new { pageWanted = Model.OptionOneID }, new { @class= "ALS" })
        @Html.ActionLink($"{Model.OptionTwoText}", "Intro", new { pageWanted = Model.OptionTwoID }, new { @class= "ALS2" })
    </footer>
</div>



